# H1 Big Data - Term Assignment 1
__Prof. Dr. Fabian Transchel, Hochschule Harz, 29.04.2021__
ftranschel@hs-harz.de

Submission due May 30, 12pm CEST. (Hand in via e-Mail to ftranschel@hs-harz or upload to StudIP.)

## Assignment and Logistics

__Grading__

The present assigment will be 40% of the overall grade of the course. The second assignment will comprise the other 60% of the grade.

__Preface and data generation__

The assigment is comprised of a set of questions being posed on a dataset created on the fly in the preface of this Jupyter notebook. The code may not be altered and the random seed must stay the same. On top of that, the dataset is saved to disc so if you would want to use the R language instead of Python, the dataset may be imported into R.

The submission must follow these guidelines: If written in the Python language, it is highly suggested to keep the notebook format. If notebook is not kep, the submitted code must be executable nonetheless. Each line of code and/or expression is to be explained in sufficient detail.

## Dataset preparation
<div style="font-weight:bold; color:red;">DO NOT ALTER THIS SECTION</div>

The purpose of this section is to create a substantially big (albeit synthetic) dataset without necessity to store or download it on the internet. It shall reside on your local machine only. To this end, it is absolutely mandatory you do not change the random seed to ensure correctness of the created dataset.

We will synthesize a big customer database with some structured as well as unstructured parts. You will then be tasked to answer questions about this dataset.

In [2]:
import numpy as np
import pandas as pd
import time

prng = np.random.RandomState(987654321) # Do NOT change this
df_users = pd.DataFrame(columns = ["ID","Surname","Name","Age","Subscription Date"])
number = 100000
names = ["Hans","Jordi","Franz","Timothy","Agaba","Ali","Sarah","Josie","Robert","Francine","Anna","Zoe","Simon","Thomas","Andreas","Alok","Lee","Jean-Luc"]
surnames = ["Mueller","Meier","Smith","Gwahsi","Thronton","Wellington","Stephenson","Pomme","Di Lillo","Bond","Kirk","Picard","Roth","Beierlorzer"]

def normalize_age(age,lower=16.0,upper=99.0):
    if(age < lower):
        return lower
    elif(age > upper):
        return upper
    return age

start = time.time()
userid = list(range(1,number+1))
surname = prng.choice(surnames,number)
name = prng.choice(names,number)
age = prng.normal(35.,10.,number)
# Normalize age to between 16 and 99:
na = np.vectorize(normalize_age)(age) # ok, but slow
sub_date = 1588150183 + prng.normal(10000.,5000.,number)
df_users = pd.DataFrame(np.array([userid,surname,name,na,sub_date]).T.tolist())
df_users.columns = ['ID','Surname','Name','Age','Subscription_Date']
print(df_users.info())

df_users.to_csv("user_table.csv") # You may import this file to R if you wish to work with that language.

# Next, we will create a set of posts for each user. To this end, we will synthesize text from the "Lorem_ipsum.txt" file.

with open("Lorem_ipsum.txt") as f:
    content = f.readlines()
# you may also want to remove whitespace characters like `\n` at the end of each line
content = [x.strip() for x in content]

post_number = 1000000
post_id = list(range(1,post_number+1))
snippet_index = list(range(len(content)))
posts = prng.choice(snippet_index,post_number,replace=True)
posts_uids = prng.randint(1,number,post_number)
posts_date = 1588150183 + 5000000 + prng.normal(100000.,50000.,post_number)
posts_content = [ content[i] for i in posts]
df_posts = pd.DataFrame(np.array([post_id,posts_uids,posts_content,posts_date]).T.tolist())
df_posts.columns = ['PostID','UserID','Content','Timestamp']
df_posts.info()
df_posts.to_csv("postings_table.csv")
end = time.time()
print("Data Generation took ",(end - start)," seconds.")

## This is the end of the data generation.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID                 100000 non-null  object
 1   Surname            100000 non-null  object
 2   Name               100000 non-null  object
 3   Age                100000 non-null  object
 4   Subscription_Date  100000 non-null  object
dtypes: object(5)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   PostID     1000000 non-null  object
 1   UserID     1000000 non-null  object
 2   Content    1000000 non-null  object
 3   Timestamp  1000000 non-null  object
dtypes: object(4)
memory usage: 30.5+ MB
Data Generation took  28.41692352294922  seconds.

In [3]:
df_users.head()

  ID     Surname    Name                Age   Subscription_Date
0  1       Pomme  Thomas  41.73935853733947  1588157171.1168716
1  2       Smith    Alok  54.83159935486658  1588167787.4536881
2  3       Pomme  Thomas  30.86899706338393   1588154407.929673
3  4  Stephenson     Zoe  22.96813536200718   1588159018.037303
4  5     Mueller  Robert  33.13719431632408  1588163405.8847194

In [4]:
df_posts.head()

,PostID,UserID,Content,Timestamp
0,1,87939,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593273255.028971
1,2,39527,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593265232.6049256
2,3,44380,Nam liber tempor cum soluta nobis eleifend opt...,1593277164.7842274
3,4,51170,"Ut wisi enim ad minim veniam, quis nostrud exe...",1593262804.0625734
4,5,73516,"Consetetur sadipscing elitr, sed diam nonumy e...",1593163351.6601837

# Tasks

## Task 1

* __What is the number of unique name combinations?__

* __Who is the oldest user, who is the youngest?__

## Task 2

* __Who is the user with most postings?__
* __Who has the least amount of postings?__
* __Which user has "written" most words?__
* __Which one has written the least?__

# Map-Reduce Example

To highlight the concept of a map-reduce application, we will calculate the time since the users signed up for the service and then aggregate, i.e. sort ascending.

In [37]:
df_users

           ID     Surname      Name                 Age   Subscription_Date
0           1       Pomme    Thomas   41.73935853733947  1588157171.1168716
1           2       Smith      Alok   54.83159935486658  1588167787.4536881
2           3       Pomme    Thomas   30.86899706338393   1588154407.929673
3           4  Stephenson       Zoe   22.96813536200718   1588159018.037303
4           5     Mueller    Robert   33.13719431632408  1588163405.8847194
...       ...         ...       ...                 ...                 ...
99995   99996       Pomme  Francine   29.48464389186777  1588156466.8303325
99996   99997    Di Lillo     Franz  30.617851689718172  1588159346.5086892
99997   99998        Bond     Jordi  31.903380091433522   1588167207.584251
99998   99999        Kirk  Francine  35.877065970124384  1588163493.1022456
99999  100000    Thronton     Sarah  33.390055821930105   1588159309.729957

[100000 rows x 5 columns]

In [38]:
date_now = float(time.time()) # Getting current time
print("Current Time is:",str(date_now))

Current Time is: 1620281559.4622517

In [40]:
ids = list(df_users.Name + " " + df_users.Surname + " (" + df_users.ID.values + ")")
ids

['Thomas Pomme (1)',
 'Alok Smith (2)',
 'Thomas Pomme (3)',
 'Zoe Stephenson (4)',
 'Robert Mueller (5)',
 'Agaba Meier (6)',
 'Alok Bond (7)',
 'Zoe Pomme (8)',
 'Zoe Bond (9)',
 'Hans Gwahsi (10)',
 'Hans Stephenson (11)',
 'Josie Meier (12)',
 'Zoe Stephenson (13)',
 'Franz Roth (14)',
 'Ali Di Lillo (15)',
 'Franz Kirk (16)',
 'Zoe Thronton (17)',
 'Alok Stephenson (18)',
 'Jean-Luc Mueller (19)',
 'Zoe Roth (20)',
 'Robert Smith (21)',
 'Ali Kirk (22)',
 'Sarah Kirk (23)',
 'Simon Di Lillo (24)',
 'Hans Picard (25)',
 'Zoe Thronton (26)',
 'Josie Kirk (27)',
 'Jean-Luc Stephenson (28)',
 'Alok Smith (29)',
 'Jean-Luc Roth (30)',
 'Josie Mueller (31)',
 'Ali Pomme (32)',
 'Alok Bond (33)',
 'Timothy Di Lillo (34)',
 'Zoe Smith (35)',
 'Jordi Kirk (36)',
 'Hans Roth (37)',
 'Zoe Stephenson (38)',
 'Thomas Meier (39)',
 'Simon Wellington (40)',
 'Jean-Luc Mueller (41)',
 'Thomas Smith (42)',
 'Josie Bond (43)',
 'Anna Smith (44)',
 'Josie Smith (45)',
 'Jordi Roth (46)',
 'Robert Beierlorzer (47)',
 'Jean-Luc Thronton (48)',
 'Jean-Luc Beierlorzer (49)',
 'Andreas Wellington (50)',
 'Timothy Gwahsi (51)',
 'Alok Smith (52)',
 'Anna Kirk (53)',
 'Ali Thronton (54)',
 'Timothy Meier (55)',
 'Thomas Gwahsi (56)',
 'Sarah Picard (57)',
 'Jean-Luc Thronton (58)',
 'Francine Pomme (59)',
 'Francine Di Lillo (60)',
 'Zoe Mueller (61)',
 'Hans Roth (62)',
 'Sarah Wellington (63)',
 'Jordi Di Lillo (64)',
 'Agaba Pomme (65)',
 'Robert Thronton (66)',
 'Jean-Luc Smith (67)',
 'Sarah Thronton (68)',
 'Jordi Beierlorzer (69)',
 'Zoe Pomme (70)',
 'Sarah Pomme (71)',
 'Robert Beierlorzer (72)',
 'Hans Picard (73)',
 'Zoe Smith (74)',
 'Sarah Roth (75)',
 'Thomas Meier (76)',
 'Jordi Wellington (77)',
 'Hans Smith (78)',
 'Josie Wellington (79)',
 'Jordi Roth (80)',
 'Francine Stephenson (81)',
 'Robert Bond (82)',
 'Lee Picard (83)',
 'Andreas Mueller (84)',
 'Simon Roth (85)',
 'Anna Mueller (86)',
 'Francine Stephenson (87)',
 'Simon Gwahsi (88)',
 'Sarah Gwahsi (89)',
 'Alok Roth (90)',
 'Josie Stephenson (91)',
 'Jean-Luc Pomme (92)',
 'Lee Smith (93)',
 'Jordi Thronton (94)',
 'Francine Gwahsi (95)',
 'Ali Smith (96)',
 'Alok Beierlorzer (97)',
 'Franz Wellington (98)',
 'Simon Picard (99)',
 'Jean-Luc Meier (100)',
 'Hans Roth (101)',
 'Anna Beierlorzer (102)',
 'Jean-Luc Bond (103)',
 'Ali Gwahsi (104)',
 'Sarah Pomme (105)',
 'Hans Pomme (106)',
 'Josie Wellington (107)',
 'Jordi Thronton (108)',
 'Ali Roth (109)',
 'Alok Mueller (110)',
 'Francine Stephenson (111)',
 'Hans Kirk (112)',
 'Jordi Gwahsi (113)',
 'Agaba Meier (114)',
 'Andreas Thronton (115)',
 'Simon Beierlorzer (116)',
 'Agaba Gwahsi (117)',
 'Simon Di Lillo (118)',
 'Sarah Thronton (119)',
 'Jean-Luc Smith (120)',
 'Josie Mueller (121)',
 'Ali Smith (122)',
 'Franz Roth (123)',
 'Alok Pomme (124)',
 'Lee Beierlorzer (125)',
 'Alok Meier (126)',
 'Franz Thronton (127)',
 'Anna Wellington (128)',
 'Alok Di Lillo (129)',
 'Francine Kirk (130)',
 'Thomas Di Lillo (131)',
 'Francine Beierlorzer (132)',
 'Jean-Luc Smith (133)',
 'Zoe Smith (134)',
 'Andreas Thronton (135)',
 'Ali Roth (136)',
 'Thomas Thronton (137)',
 'Agaba Thronton (138)',
 'Thomas Beierlorzer (139)',
 'Anna Meier (140)',
 'Robert Meier (141)',
 'Francine Di Lillo (142)',
 'Thomas Wellington (143)',
 'Hans Meier (144)',
 'Francine Bond (145)',
 'Agaba Gwahsi (146)',
 'Jordi Kirk (147)',
 'Ali Beierlorzer (148)',
 'Jordi Kirk (149)',
 'Hans Roth (150)',
 'Agaba Stephenson (151)',
 'Sarah Di Lillo (152)',
 'Alok Bond (153)',
 'Robert Stephenson (154)',
 'Hans Thronton (155)',
 'Hans Roth (156)',
 'Anna Beierlorzer (157)',
 'Jordi Wellington (158)',
 'Zoe Roth (159)',
 'Jean-Luc Wellington (160)',
 'Jordi Thronton (161)',
 'Andreas Wellington (162)',
 'Jordi Mueller (163)',
 'Zoe Pomme (164)',
 'Josie Pomme (165)',
 'Robert Wellington (166)',
 'Hans Di Lillo (167)',
 'Jordi Mueller (168)',
 'Thomas Beierlorzer (169)',
 'Agaba Di Lillo (170)',
 'Zoe Wellington (171)',
 'Hans Smith (172)',
 'Francine Meier (173)',
 'Robert Smith (174)',
 'Simon Bond (175)',
 'Hans Roth (176)',
 'Josie Wellington (177)',
 'Zoe Beierlorzer (178)',
 'Andreas Pomme (179)',
 'Agaba Bond (180)',
 'Thomas Thronton (181)',
 'Simon Mueller (182)',
 'Alok Gwahsi (183)',
 'Alok Stephenson (184)',
 'Jean-Luc Roth (185)',
 'Jordi Kirk (186)',
 'Hans Wellington (187)',
 'Simon Picard (188)',
 'Ali Di Lillo (189)',
 'Simon Bond (190)',
 'Josie Gwahsi (191)',
 'Josie Smith (192)',
 'Thomas Gwahsi (193)',
 'Hans Meier (194)',
 'Thomas Kirk (195)',
 'Simon Meier (196)',
 'Anna Beierlorzer (197)',
 'Anna Di Lillo (198)',
 'Agaba Stephenson (199)',
 'Agaba Wellington (200)',
 'Jordi Smith (201)',
 'Anna Stephenson (202)',
 'Jean-Luc Gwahsi (203)',
 'Josie Meier (204)',
 'Francine Bond (205)',
 'Hans Beierlorzer (206)',
 'Thomas Stephenson (207)',
 'Josie Meier (208)',
 'Zoe Beierlorzer (209)',
 'Agaba Roth (210)',
 'Josie Meier (211)',
 'Alok Bond (212)',
 'Jean-Luc Mueller (213)',
 'Jean-Luc Di Lillo (214)',
 'Thomas Gwahsi (215)',
 'Robert Mueller (216)',
 'Lee Di Lillo (217)',
 'Robert Wellington (218)',
 'Zoe Gwahsi (219)',
 'Jean-Luc Beierlorzer (220)',
 'Simon Bond (221)',
 'Jordi Pomme (222)',
 'Jordi Smith (223)',
 'Franz Roth (224)',
 'Anna Di Lillo (225)',
 'Robert Roth (226)',
 'Franz Mueller (227)',
 'Alok Stephenson (228)',
 'Simon Beierlorzer (229)',
 'Francine Wellington (230)',
 'Anna Beierlorzer (231)',
 'Franz Wellington (232)',
 'Simon Picard (233)',
 'Timothy Meier (234)',
 'Lee Meier (235)',
 'Timothy Beierlorzer (236)',
 'Anna Mueller (237)',
 'Anna Beierlorzer (238)',
 'Robert Wellington (239)',
 'Timothy Beierlorzer (240)',
 'Anna Mueller (241)',
 'Josie Kirk (242)',
 'Francine Pomme (243)',
 'Ali Picard (244)',
 'Alok Pomme (245)',
 'Alok Wellington (246)',
 'Andreas Beierlorzer (247)',
 'Josie Wellington (248)',
 'Timothy Mueller (249)',
 'Alok Meier (250)',
 'Jean-Luc Beierlorzer (251)',
 'Agaba Smith (252)',
 'Agaba Mueller (253)',
 'Simon Gwahsi (254)',
 'Hans Smith (255)',
 'Zoe Kirk (256)',
 'Alok Gwahsi (257)',
 'Simon Stephenson (258)',
 'Ali Thronton (259)',
 'Agaba Bond (260)',
 'Robert Kirk (261)',
 'Ali Di Lillo (262)',
 'Ali Picard (263)',
 'Ali Gwahsi (264)',
 'Anna Kirk (265)',
 'Jordi Thronton (266)',
 'Franz Pomme (267)',
 'Franz Gwahsi (268)',
 'Simon Picard (269)',
 'Francine Kirk (270)',
 'Alok Kirk (271)',
 'Josie Wellington (272)',
 'Ali Mueller (273)',
 'Franz Mueller (274)',
 'Thomas Mueller (275)',
 'Franz Thronton (276)',
 'Simon Wellington (277)',
 'Robert Thronton (278)',
 'Simon Picard (279)',
 'Alok Roth (280)',
 'Lee Smith (281)',
 'Jean-Luc Beierlorzer (282)',
 'Jean-Luc Gwahsi (283)',
 'Franz Picard (284)',
 'Anna Bond (285)',
 'Jordi Thronton (286)',
 'Ali Picard (287)',
 'Josie Mueller (288)',
 'Ali Roth (289)',
 'Jordi Thronton (290)',
 'Ali Stephenson (291)',
 'Simon Stephenson (292)',
 'Anna Stephenson (293)',
 'Thomas Pomme (294)',
 'Andreas Wellington (295)',
 'Anna Roth (296)',
 'Lee Beierlorzer (297)',
 'Lee Di Lillo (298)',
 'Sarah Beierlorzer (299)',
 'Thomas Bond (300)',
 'Thomas Mueller (301)',
 'Jean-Luc Di Lillo (302)',
 'Andreas Pomme (303)',
 'Alok Stephenson (304)',
 'Anna Thronton (305)',
 'Simon Kirk (306)',
 'Thomas Pomme (307)',
 'Jean-Luc Roth (308)',
 'Thomas Picard (309)',
 'Ali Di Lillo (310)',
 'Thomas Gwahsi (311)',
 'Lee Di Lillo (312)',
 'Agaba Beierlorzer (313)',
 'Ali Pomme (314)',
 'Jordi Pomme (315)',
 'Zoe Gwahsi (316)',
 'Thomas Bond (317)',
 'Francine Thronton (318)',
 'Jordi Thronton (319)',
 'Francine Meier (320)',
 'Josie Gwahsi (321)',
 'Josie Picard (322)',
 'Ali Gwahsi (323)',
 'Thomas Beierlorzer (324)',
 'Jordi Smith (325)',
 'Sarah Bond (326)',
 'Alok Wellington (327)',
 'Alok Smith (328)',
 'Franz Wellington (329)',
 'Ali Bond (330)',
 'Alok Picard (331)',
 'Josie Smith (332)',
 'Hans Thronton (333)',
 'Zoe Gwahsi (334)',
 'Alok Wellington (335)',
 'Jean-Luc Di Lillo (336)',
 'Hans Meier (337)',
 'Josie Meier (338)',
 'Timothy Thronton (339)',
 'Jean-Luc Wellington (340)',
 'Francine Kirk (341)',
 'Anna Roth (342)',
 'Agaba Mueller (343)',
 'Alok Mueller (344)',
 'Robert Di Lillo (345)',
 'Andreas Bond (346)',
 'Jean-Luc Gwahsi (347)',
 'Jordi Bond (348)',
 'Jordi Wellington (349)',
 'Alok Mueller (350)',
 'Zoe Stephenson (351)',
 'Agaba Picard (352)',
 'Francine Gwahsi (353)',
 'Ali Smith (354)',
 'Andreas Picard (355)',
 'Franz Beierlorzer (356)',
 'Simon Wellington (357)',
 'Agaba Thronton (358)',
 'Thomas Bond (359)',
 'Jordi Meier (360)',
 'Josie Bond (361)',
 'Andreas Roth (362)',
 'Zoe Smith (363)',
 'Franz Di Lillo (364)',
 'Timothy Roth (365)',
 'Andreas Kirk (366)',
 'Hans Bond (367)',
 'Thomas Bond (368)',
 'Francine Bond (369)',
 'Andreas Bond (370)',
 'Jean-Luc Mueller (371)',
 'Simon Meier (372)',
 'Sarah Meier (373)',
 'Simon Di Lillo (374)',
 'Robert Pomme (375)',
 'Francine Thronton (376)',
 'Jean-Luc Pomme (377)',
 'Andreas Meier (378)',
 'Zoe Picard (379)',
 'Josie Stephenson (380)',
 'Josie Gwahsi (381)',
 'Franz Picard (382)',
 'Anna Thronton (383)',
 'Agaba Thronton (384)',
 'Lee Pomme (385)',
 'Andreas Kirk (386)',
 'Josie Picard (387)',
 'Franz Smith (388)',
 'Andreas Di Lillo (389)',
 'Andreas Thronton (390)',
 'Jordi Pomme (391)',
 'Sarah Pomme (392)',
 'Hans Picard (393)',
 'Ali Smith (394)',
 'Alok Kirk (395)',
 'Ali Pomme (396)',
 'Timothy Thronton (397)',
 'Lee Beierlorzer (398)',
 'Anna Meier (399)',
 'Andreas Roth (400)',
 'Timothy Stephenson (401)',
 'Franz Smith (402)',
 'Agaba Smith (403)',
 'Jordi Meier (404)',
 'Simon Di Lillo (405)',
 'Josie Thronton (406)',
 'Josie Picard (407)',
 'Alok Gwahsi (408)',
 'Zoe Di Lillo (409)',
 'Simon Kirk (410)',
 'Alok Mueller (411)',
 'Timothy Wellington (412)',
 'Timothy Roth (413)',
 'Alok Di Lillo (414)',
 'Jordi Meier (415)',
 'Jean-Luc Stephenson (416)',
 'Timothy Mueller (417)',
 'Andreas Wellington (418)',
 'Simon Bond (419)',
 'Sarah Wellington (420)',
 'Ali Stephenson (421)',
 'Thomas Stephenson (422)',
 'Zoe Stephenson (423)',
 'Jean-Luc Bond (424)',
 'Agaba Smith (425)',
 'Hans Smith (426)',
 'Hans Thronton (427)',
 'Alok Gwahsi (428)',
 'Anna Smith (429)',
 'Zoe Picard (430)',
 'Jean-Luc Roth (431)',
 'Jean-Luc Beierlorzer (432)',
 'Alok Smith (433)',
 'Simon Gwahsi (434)',
 'Robert Roth (435)',
 'Hans Gwahsi (436)',
 'Jordi Pomme (437)',
 'Anna Mueller (438)',
 'Sarah Wellington (439)',
 'Anna Picard (440)',
 'Hans Picard (441)',
 'Timothy Wellington (442)',
 'Sarah Smith (443)',
 'Andreas Gwahsi (444)',
 'Zoe Wellington (445)',
 'Zoe Beierlorzer (446)',
 'Hans Picard (447)',
 'Alok Stephenson (448)',
 'Thomas Gwahsi (449)',
 'Andreas Wellington (450)',
 'Jordi Kirk (451)',
 'Timothy Wellington (452)',
 'Francine Bond (453)',
 'Simon Thronton (454)',
 'Thomas Di Lillo (455)',
 'Lee Picard (456)',
 'Agaba Di Lillo (457)',
 'Jordi Gwahsi (458)',
 'Lee Smith (459)',
 'Hans Kirk (460)',
 'Alok Di Lillo (461)',
 'Agaba Kirk (462)',
 'Sarah Mueller (463)',
 'Thomas Mueller (464)',
 'Timothy Picard (465)',
 'Andreas Meier (466)',
 'Anna Di Lillo (467)',
 'Lee Beierlorzer (468)',
 'Simon Smith (469)',
 'Ali Roth (470)',
 'Jean-Luc Roth (471)',
 'Sarah Wellington (472)',
 'Sarah Pomme (473)',
 'Francine Mueller (474)',
 'Sarah Picard (475)',
 'Simon Stephenson (476)',
 'Simon Wellington (477)',
 'Ali Gwahsi (478)',
 'Franz Roth (479)',
 'Zoe Bond (480)',
 'Thomas Gwahsi (481)',
 'Timothy Bond (482)',
 'Anna Di Lillo (483)',
 'Jordi Wellington (484)',
 'Thomas Gwahsi (485)',
 'Robert Mueller (486)',
 'Robert Kirk (487)',
 'Francine Beierlorzer (488)',
 'Lee Pomme (489)',
 'Francine Kirk (490)',
 'Alok Gwahsi (491)',
 'Timothy Kirk (492)',
 'Thomas Wellington (493)',
 'Alok Mueller (494)',
 'Simon Meier (495)',
 'Andreas Beierlorzer (496)',
 'Josie Bond (497)',
 'Ali Gwahsi (498)',
 'Jordi Stephenson (499)',
 'Anna Pomme (500)',
 'Franz Picard (501)',
 'Anna Picard (502)',
 'Josie Meier (503)',
 'Andreas Bond (504)',
 'Ali Wellington (505)',
 'Andreas Beierlorzer (506)',
 'Jean-Luc Pomme (507)',
 'Agaba Thronton (508)',
 'Zoe Picard (509)',
 'Josie Wellington (510)',
 'Anna Beierlorzer (511)',
 'Thomas Mueller (512)',
 'Josie Meier (513)',
 'Hans Beierlorzer (514)',
 'Anna Bond (515)',
 'Zoe Roth (516)',
 'Sarah Wellington (517)',
 'Thomas Kirk (518)',
 'Andreas Meier (519)',
 'Francine Mueller (520)',
 'Lee Di Lillo (521)',
 'Sarah Mueller (522)',
 'Hans Kirk (523)',
 'Alok Di Lillo (524)',
 'Franz Picard (525)',
 'Franz Stephenson (526)',
 'Thomas Beierlorzer (527)',
 'Jean-Luc Beierlorzer (528)',
 'Thomas Roth (529)',
 'Andreas Stephenson (530)',
 'Robert Di Lillo (531)',
 'Robert Beierlorzer (532)',
 'Anna Picard (533)',
 'Andreas Mueller (534)',
 'Ali Kirk (535)',
 'Andreas Di Lillo (536)',
 'Jean-Luc Beierlorzer (537)',
 'Alok Picard (538)',
 'Thomas Stephenson (539)',
 'Jean-Luc Kirk (540)',
 'Alok Beierlorzer (541)',
 'Franz Thronton (542)',
 'Anna Di Lillo (543)',
 'Zoe Pomme (544)',
 'Josie Di Lillo (545)',
 'Andreas Thronton (546)',
 'Jordi Wellington (547)',
 'Zoe Bond (548)',
 'Jean-Luc Stephenson (549)',
 'Timothy Di Lillo (550)',
 'Ali Beierlorzer (551)',
 'Jordi Thronton (552)',
 'Jordi Roth (553)',
 'Hans Smith (554)',
 'Hans Picard (555)',
 'Josie Meier (556)',
 'Jean-Luc Gwahsi (557)',
 'Hans Smith (558)',
 'Jean-Luc Smith (559)',
 'Jean-Luc Meier (560)',
 'Anna Mueller (561)',
 'Lee Smith (562)',
 'Lee Stephenson (563)',
 'Hans Thronton (564)',
 'Ali Kirk (565)',
 'Robert Meier (566)',
 'Agaba Kirk (567)',
 'Anna Picard (568)',
 'Ali Meier (569)',
 'Anna Picard (570)',
 'Hans Stephenson (571)',
 'Jean-Luc Gwahsi (572)',
 'Ali Mueller (573)',
 'Jean-Luc Gwahsi (574)',
 'Agaba Gwahsi (575)',
 'Francine Gwahsi (576)',
 'Timothy Di Lillo (577)',
 'Hans Pomme (578)',
 'Andreas Thronton (579)',
 'Franz Roth (580)',
 'Ali Beierlorzer (581)',
 'Sarah Kirk (582)',
 'Jordi Di Lillo (583)',
 'Ali Stephenson (584)',
 'Sarah Di Lillo (585)',
 'Josie Thronton (586)',
 'Thomas Meier (587)',
 'Jean-Luc Meier (588)',
 'Robert Picard (589)',
 'Zoe Smith (590)',
 'Simon Picard (591)',
 'Jean-Luc Roth (592)',
 'Francine Kirk (593)',
 'Andreas Di Lillo (594)',
 'Thomas Beierlorzer (595)',
 'Franz Bond (596)',
 'Robert Beierlorzer (597)',
 'Jean-Luc Mueller (598)',
 'Andreas Gwahsi (599)',
 'Jordi Roth (600)',
 'Alok Thronton (601)',
 'Franz Beierlorzer (602)',
 'Francine Wellington (603)',
 'Anna Pomme (604)',
 'Simon Picard (605)',
 'Ali Picard (606)',
 'Simon Roth (607)',
 'Agaba Wellington (608)',
 'Simon Roth (609)',
 'Francine Kirk (610)',
 'Jordi Kirk (611)',
 'Robert Di Lillo (612)',
 'Thomas Roth (613)',
 'Zoe Picard (614)',
 'Hans Gwahsi (615)',
 'Andreas Wellington (616)',
 'Andreas Mueller (617)',
 'Jordi Roth (618)',
 'Ali Roth (619)',
 'Andreas Smith (620)',
 'Timothy Picard (621)',
 'Robert Smith (622)',
 'Alok Pomme (623)',
 'Andreas Gwahsi (624)',
 'Timothy Gwahsi (625)',
 'Anna Di Lillo (626)',
 'Zoe Wellington (627)',
 'Jean-Luc Di Lillo (628)',
 'Zoe Stephenson (629)',
 'Josie Di Lillo (630)',
 'Agaba Bond (631)',
 'Andreas Picard (632)',
 'Alok Meier (633)',
 'Anna Beierlorzer (634)',
 'Jordi Mueller (635)',
 'Jordi Wellington (636)',
 'Thomas Kirk (637)',
 'Franz Bond (638)',
 'Simon Meier (639)',
 'Franz Wellington (640)',
 'Thomas Beierlorzer (641)',
 'Ali Kirk (642)',
 'Ali Stephenson (643)',
 'Francine Mueller (644)',
 'Andreas Smith (645)',
 'Jordi Pomme (646)',
 'Anna Wellington (647)',
 'Simon Wellington (648)',
 'Jean-Luc Kirk (649)',
 'Zoe Di Lillo (650)',
 'Jordi Pomme (651)',
 'Sarah Kirk (652)',
 'Thomas Stephenson (653)',
 'Hans Wellington (654)',
 'Zoe Pomme (655)',
 'Jean-Luc Bond (656)',
 'Francine Stephenson (657)',
 'Timothy Smith (658)',
 'Zoe Beierlorzer (659)',
 'Andreas Mueller (660)',
 'Sarah Kirk (661)',
 'Jean-Luc Meier (662)',
 'Sarah Roth (663)',
 'Zoe Di Lillo (664)',
 'Alok Di Lillo (665)',
 'Jordi Pomme (666)',
 'Timothy Bond (667)',
 'Zoe Di Lillo (668)',
 'Jean-Luc Picard (669)',
 'Josie Mueller (670)',
 'Simon Mueller (671)',
 'Ali Mueller (672)',
 'Andreas Gwahsi (673)',
 'Simon Mueller (674)',
 'Zoe Thronton (675)',
 'Agaba Meier (676)',
 'Zoe Stephenson (677)',
 'Jordi Roth (678)',
 'Simon Beierlorzer (679)',
 'Sarah Gwahsi (680)',
 'Jean-Luc Gwahsi (681)',
 'Josie Smith (682)',
 'Alok Meier (683)',
 'Anna Roth (684)',
 'Robert Thronton (685)',
 'Jean-Luc Stephenson (686)',
 'Thomas Smith (687)',
 'Agaba Pomme (688)',
 'Timothy Stephenson (689)',
 'Anna Beierlorzer (690)',
 'Zoe Wellington (691)',
 'Anna Stephenson (692)',
 'Robert Beierlorzer (693)',
 'Sarah Beierlorzer (694)',
 'Hans Smith (695)',
 'Hans Pomme (696)',
 'Ali Beierlorzer (697)',
 'Agaba Beierlorzer (698)',
 'Robert Bond (699)',
 'Franz Bond (700)',
 'Timothy Bond (701)',
 'Ali Picard (702)',
 'Lee Picard (703)',
 'Simon Bond (704)',
 'Ali Wellington (705)',
 'Sarah Beierlorzer (706)',
 'Josie Picard (707)',
 'Hans Smith (708)',
 'Simon Bond (709)',
 'Ali Smith (710)',
 'Ali Bond (711)',
 'Hans Smith (712)',
 'Jean-Luc Picard (713)',
 'Ali Beierlorzer (714)',
 'Timothy Bond (715)',
 'Alok Thronton (716)',
 'Timothy Gwahsi (717)',
 'Alok Pomme (718)',
 'Ali Wellington (719)',
 'Ali Beierlorzer (720)',
 'Robert Thronton (721)',
 'Robert Mueller (722)',
 'Timothy Stephenson (723)',
 'Jean-Luc Pomme (724)',
 'Ali Smith (725)',
 'Anna Mueller (726)',
 'Francine Di Lillo (727)',
 'Sarah Stephenson (728)',
 'Thomas Kirk (729)',
 'Francine Di Lillo (730)',
 'Alok Di Lillo (731)',
 'Sarah Picard (732)',
 'Timothy Pomme (733)',
 'Franz Di Lillo (734)',
 'Franz Di Lillo (735)',
 'Franz Pomme (736)',
 'Alok Wellington (737)',
 'Hans Picard (738)',
 'Francine Roth (739)',
 'Josie Thronton (740)',
 'Josie Beierlorzer (741)',
 'Anna Meier (742)',
 'Alok Roth (743)',
 'Jordi Bond (744)',
 'Robert Kirk (745)',
 'Timothy Pomme (746)',
 'Timothy Beierlorzer (747)',
 'Anna Wellington (748)',
 'Alok Pomme (749)',
 'Lee Roth (750)',
 'Franz Smith (751)',
 'Sarah Kirk (752)',
 'Josie Mueller (753)',
 'Josie Meier (754)',
 'Andreas Di Lillo (755)',
 'Jordi Wellington (756)',
 'Franz Gwahsi (757)',
 'Anna Thronton (758)',
 'Josie Gwahsi (759)',
 'Simon Gwahsi (760)',
 'Francine Meier (761)',
 'Josie Bond (762)',
 'Alok Beierlorzer (763)',
 'Hans Stephenson (764)',
 'Josie Thronton (765)',
 'Agaba Mueller (766)',
 'Jean-Luc Smith (767)',
 'Zoe Wellington (768)',
 'Ali Stephenson (769)',
 'Sarah Thronton (770)',
 'Anna Stephenson (771)',
 'Hans Roth (772)',
 'Hans Mueller (773)',
 'Jean-Luc Kirk (774)',
 'Anna Kirk (775)',
 'Franz Gwahsi (776)',
 'Josie Di Lillo (777)',
 'Timothy Bond (778)',
 'Jean-Luc Meier (779)',
 'Anna Thronton (780)',
 'Agaba Picard (781)',
 'Agaba Meier (782)',
 'Agaba Thronton (783)',
 'Thomas Beierlorzer (784)',
 'Simon Meier (785)',
 'Zoe Meier (786)',
 'Andreas Smith (787)',
 'Timothy Roth (788)',
 'Anna Di Lillo (789)',
 'Jordi Pomme (790)',
 'Alok Pomme (791)',
 'Franz Meier (792)',
 'Franz Gwahsi (793)',
 'Timothy Smith (794)',
 'Lee Mueller (795)',
 'Agaba Roth (796)',
 'Jordi Di Lillo (797)',
 'Josie Picard (798)',
 'Hans Roth (799)',
 'Josie Picard (800)',
 'Alok Wellington (801)',
 'Lee Wellington (802)',
 'Agaba Meier (803)',
 'Franz Wellington (804)',
 'Timothy Bond (805)',
 'Robert Thronton (806)',
 'Franz Di Lillo (807)',
 'Timothy Kirk (808)',
 'Sarah Stephenson (809)',
 'Thomas Thronton (810)',
 'Robert Smith (811)',
 'Sarah Roth (812)',
 'Robert Smith (813)',
 'Josie Picard (814)',
 'Agaba Roth (815)',
 'Andreas Wellington (816)',
 'Anna Mueller (817)',
 'Timothy Roth (818)',
 'Alok Thronton (819)',
 'Hans Thronton (820)',
 'Lee Gwahsi (821)',
 'Franz Roth (822)',
 'Ali Bond (823)',
 'Franz Bond (824)',
 'Agaba Mueller (825)',
 'Ali Picard (826)',
 'Alok Meier (827)',
 'Agaba Beierlorzer (828)',
 'Josie Pomme (829)',
 'Simon Beierlorzer (830)',
 'Alok Mueller (831)',
 'Ali Thronton (832)',
 'Robert Smith (833)',
 'Sarah Picard (834)',
 'Sarah Kirk (835)',
 'Alok Picard (836)',
 'Hans Pomme (837)',
 'Agaba Smith (838)',
 'Zoe Gwahsi (839)',
 'Josie Wellington (840)',
 'Ali Wellington (841)',

In [45]:
(lambda x: date_now - float(x))(1588157171.1168716) # Using in-place function to calculate the difference between current time and subscription time

32124388.345380068

In [49]:
map(lambda x: date_now - float(x),sub_time) # Maps subscription time to "time elapsed since subscription (compared to current time)"

In [52]:
sub_time = list(df_users.Subscription_Date.values)

sub_durations = np.array(list(map(lambda x: date_now - float(x),sub_time)))

user_duration_dict = dict(zip(ids,sub_durations))
pd.DataFrame(user_duration_dict.items(),columns=["Users","Values"])

                         Users        Values
0             Thomas Pomme (1)  3.212439e+07
1               Alok Smith (2)  3.211377e+07
2             Thomas Pomme (3)  3.212715e+07
3           Zoe Stephenson (4)  3.212254e+07
4           Robert Mueller (5)  3.211815e+07
...                        ...           ...
99995   Francine Pomme (99996)  3.212509e+07
99996   Franz Di Lillo (99997)  3.212221e+07
99997       Jordi Bond (99998)  3.211435e+07
99998    Francine Kirk (99999)  3.211807e+07
99999  Sarah Thronton (100000)  3.212225e+07

[100000 rows x 2 columns]

In [53]:
pd.DataFrame(sorted(user_duration_dict.items(), key=lambda item: item[1]),columns=["Users","Values"])

                           Users        Values
0            Agaba Pomme (93978)  3.210102e+07
1            Sarah Gwahsi (1555)  3.210164e+07
2          Francine Kirk (69522)  3.210188e+07
3         Robert Mueller (50939)  3.210274e+07
4      Robert Stephenson (59951)  3.210284e+07
...                          ...           ...
99995        Robert Bond (44820)  3.214113e+07
99996         Ali Gwahsi (72341)  3.214124e+07
99997           Zoe Kirk (98014)  3.214132e+07
99998       Sarah Gwahsi (44648)  3.214212e+07
99999      Thomas Picard (76577)  3.214266e+07

[100000 rows x 2 columns]